{% extends "shop/base.html" %}
{% load static %}

{% block title %}*
    <title>Panier</title>
{% endblock %}

<body>

{% block content %}
<div class="content margin-top">
<h1>Votre Panier</h1>
<table class="width-100">
    <thead >
    <tr>

        <th class="text-align-left">Produit</th>
        <th></th>
        <th>Quantité</th>
        <th>Total</th>


    </tr>
    </thead >
    <tbody>
    {% for item in cart%}
    {% with product=item.product %}
    <tr >
        <td class="display-block">

                <a href="{{ product.get_absolute_url }}">
                <img class="image-size" src="{% if product.main_image %}{{ product.main_image.url }}">
                {% else %}{% static "img/imge.png" %}{% endif %} </a>
    <td class="display-inline-block margin-left">
        {{ product.name }}
    </td>
    <td></td>
    <td>
        <form class="center-anything" action="{% url "cart:cart_add" product.id %}" method="post">
            {{ item.update_quantity_form.quantity }}
            {{ item.update_quantity_form.override }}
            <input type="submit" value="Update">
            {% csrf_token %}

        </form>
        <form class="center-anything" action="{% url "cart:cart_remove" product.id %}" method="post">
            <button type="submit">
                <i class="fa-regular fa-trash-can"></i>
            </button>
            {% csrf_token %}
        </form>
    </td>
    <td class="text-align-center">{{ item.total_price }}€</td>


    </tr>
    {% endwith %}
    {% endfor %}

    <tr class="margin-top">
        <td class="font-weight-bolder">Total</td>
        <td></td>
        <td></td>
        <td class="text-align-center font-weight-bolder margin-bot">{{ cart.get_total_price }}€</td>

    </tr>
    </tbody>
</table>
    <p class="content text-align-right margin-top">
        <a href="{% url "shop:product_list" %}" class="button continue-shopping-button text-align-center">Continuer d'acheter</a>
        <br>
        <a href="{% url "order:checkout" %}" class="button continue-shopping-button text-align-center">Passer la commande</a>

    </p>
</div>
{% endblock %}

</body>
