{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    <title>{{ product.name }}</title>
{% endblock %}

{% block content %}
    <div class="product-detail-grid-wrapper content margin-top">
        <div>
            <div>
                <img id="mainImage" class="photo-size-product-detail" src="{{ product.main_image.url }}"
                     alt="{% if product.name %}{{ product.name }}{% else %}product{% endif %}">
            </div>
        <div>
        <img class="thumb" src="{% if product.main_image.url %}
        {{ product.main_image.url }}{% else %}{% static "img/imge.png" %}{% endif %}" onclick="myFunction(this)">
            {% for image in multiimages %}

                <img class="thumb" src="{% if image.images.url %}

                           {{ image.images.url }}{% else %}{% static "img/imge.png" %}{% endif %}" onclick="myFunction(this)">
            {% endfor %}
    </div>
    </div>

    <div class="text-align-left">
            <h1 class="font-size-h1 title-font-color">{{ product.name }}</h1>
            <p class="price-font-size">{{ product.price }}€</p>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <br>
                    <button class="buy-now-button margin-top" type="submit">Ajouter au panier</button>
                </form>
            <p class="margin-top-2-6">{{ product.description|safe }}</p>
                </div>
    </div >

        <hr class="margin-bot">
    <h3 class="center-anything">LIVRAISON OFFERTE</h3>
    <p class="center-anything margin-bot">Livraison offertes dès 160€ d'achats.</p>

{% endblock %}