{% extends "shop/base.html" %}
{% load static %}

{% block title %} <title>Commande</title> {% endblock %}

{% block content %}
    <h4 class="center-anything margin-bot margin-top">Adresse de Livraison</h4>
    <div class="content center-anything">
    <form class="" action="{% url 'order:place_order' %}" method="POST">
<div class="container-checkout-info ">
      {% csrf_token %}
<div>
        {% for fm in form %}
            <div class="textinput-item margin-checkout">
                {{ fm.label_tag }} <div class="textinput">{{ fm }}</div> <br>
            </div>
        {% endfor %}
        <div class="color-error error-message">{{ fm.errors|striptags }}</div><br>
        <button type="submit" name="submit" class="buy-now-button">Payer</button>
        <button class="buy-now-button margin-top-1-5"><a href="{% url 'shop:home_page' %}" class="">Retourner a l'accueil</a></button>
    </div>
        </div>
    </form>


</div>

{% endblock %}