{% extends "shop/base.html" %}
{% load static %}

{% block title %} <title>Panier</title> {% endblock %}

{% block content %}
    <div class="content margin-top">
    <!-- Replace "test" with your own sandbox Business account app client ID -->
<!-- row.// -->
        <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=Aac0eEkrStclqM34AqFksqZJ6YI_dqp8R-3FDdhzL5-dETJ_zZeVjUg2D4XT4LzaoBy_1xE31dX3Ctju&currency=EUR"></script>
    <!-- Set up a container element for the button -->
        <h2 class="content center-anything margin-bot">Récapitulatif</h2>
        <div class="container-payment-title margin-bot justify-content-center">

            <div class="col1 float-left">
                <p class="font-weight-bolder">Adresse de Livraison</p>
                    {{ order.first_name }} {{ order.last_name }}<br>
                    {{ order.address_line_1 }}<br>
                    {{ order.city }} <br>
                    {{ order.phone }}<br>

                <p class="font-weight-bolder margin-top">Prix TTC:</p>
                <p>Sous-total: {{ order.order_total|floatformat:'2' }}€</p>
                <p>Dont TVA {{ order.tax|floatformat:'2' }}€</p>
                <p> Total TTC {{ order.order_total|floatformat:'2' }}€</p>

                <p class="font-weight-bolder margin-top">Moyen de Paiement</p>
                <div id="paypal-button-container"></div>
            </div>
            <div>
                <p class="font-weight-bolder">Commande</p>
                <table>
                    <thead>
                        <tr>
                             <th></th>
                            <th></th>
                        </tr>
                    </thead >
                    <tbody>
                        {% for item in cart%}
                        {% with product=item.product %}
                                <td class="">
                                        <a href="{{ product.get_absolute_url }}">
                                        <img class="image-size" src="{% if product.main_image %}{{ product.main_image.url }}">
                                        {% else %}{% static "img/imge.png" %}{% endif %} </a>
                            <td class="">
                               <p>{{ product.name }}</p>
                               <p>{{ product.price }}€</p>
                            </td>
                    </tbody>
                        {% endwith %}
                        {% endfor %}

                </table>
            </div>
        </div>
</div>
    <script>
 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    let amount = {{ cart.get_total_price }}
    const url = "{% url 'order:payment' %}"
	let csrftoken = getCookie('csrftoken')
	let orderID = "{{order.order_number}}"
	const payment_method = 'PayPal'
    const redirect_url = "{% url 'order:order_complete' %}"


        paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: amount
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
                sendData();
				function sendData(){
					fetch(url, {
						method : "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							orderID: orderID,
							transID: orderData.id,
							payment_method: payment_method,
							status: orderData.status,
						}),
					})
                        .then(function (responseFromServer) {
                    if(responseFromServer.status === 200) {
                        location.href = '{% url "order:order_complete" %}';
                    }
					});
				}
          });
        }
      }).render('#paypal-button-container');
    </script>

{% endblock %}