@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;}

/* ------------------------ custom scroll bar ----------------------- */

::-webkit-scrollbar {
    width: 1.0rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

/* ------------------------ General Stuff ----------------------- */

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

html {
  font-size: 62.5%;
  color: black;
}

body{

  margin: 0;
  font-size: 1.4rem;
}

hr {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.2);
}

.content {
  max-width: 125.0rem;
  margin: auto;
}

.max-height {
  max-height: 50rem;
}

.padding-right {
  padding-right: 3.0rem;
}

.float-left {
  float:left;
}

.padding-top-50 {
  padding-top: 50%;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: inline-block;
}

.margin-left {
  margin-left: 1.6rem;
}

.inline-block {
  display: inline-block;

}

.text-align-center {
  text-align: center;
}

.place-items-center {
  place-items: center;
}

.color-text-lightgray {
  color: #9a9a9a;
}

.text-line-space {
  line-height: 3.0rem;
}

.font-weight-lighter {
  font-weight: lighter;
}

.padding-top {
  padding-top: 3.6rem;
}

.vertically-align-text {
  display: block;
}

.margin-top {
  margin-top: 3.6rem;
}

.margin-top-20 {
  margin-top: 20rem;
}

.center-top-bottom {
  text-align: center;
}

.float-right {
  float: right;
}


.text-align-right {
  text-align: right;
}

.width-100 {
  width: 100%;
}

.float-top {
  float: top;
}

.padding-right {
  padding-right: 3.2rem;
}

.margin-left {
  margin-left: 5rem;
}

.margin-top-2-6 {
  margin-top: 2.6rem;
}

.margin-top-1-5 {
  margin-top: 1.5rem;
}

.margin-top-1 {
  margin-top: .5rem;
}

.inline {
  display: inline;
}

.text-decoration-none {
  text-decoration: none;
}

.text-align-left {
  text-align: left;
}

.padding-bot {
  padding-bottom: 3.6rem ;
}

.margin-top-3-6 {
  margin-top: 3.6rem;
}

.margin-top-7-2 {
  margin-top: 7.2rem;
}

.margin-bot {
  margin-bottom: 3.6rem;
}

.margin-0 {
  margin: 0;
}

.margin-left-2-5 {
  margin-left: 2.5rem;
}

.line-height-3-6 {
  line-height: 3.6rem;
}

.justify-content-center {
  justify-content: center;
}

.font-size-1-2 {
  font-size: 1.2rem;
}

.padding-top-bot-2-5{
  padding: 2.5rem 0;
}

.display-inline-flex {
  display: inline-flex;
}

/* ------------------------ Navbar ----------------------- */

.logo a {
  color: black;
  font-size: 3.0rem;
  font-weight: 600;
  text-decoration: none;
}


.menu-list{
  display: inline-flex;
}

.menu-list li{
  list-style: none;
}

.menu-list li a:hover{
  color: #007bff;
}

/* -------------------- Product Photos -------------------- */

.photo-size {
  width: 30.0rem;
  height: 30.0rem;
}

.photo-size-home-product {
  width: 25.0rem;
  height: 25.0rem;
}


.photo-size-popular-product {
  width: 35.0rem;
  height: 35.0rem;
}


/* -------------------- Home page -------------------- */

.landing-page {
  object-fit: cover;
  width: 100%;
  max-height: 50.0rem;
}

.banner {
  object-fit: cover;
  width: 100%;
  max-height: 50.0rem;
}


.vertical-align {
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-anything {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  border: 0.1rem solid transparent;
  line-height: 3rem;
  padding-top: 1.0rem;
  margin-right: 35%;
  margin-left: 35%;

}

.text-space-used {
  max-width: 33rem;
}

.grid {
  display: grid;
  width: 80%;
  margin: 3.0rem auto;
  grid-template-columns: repeat(auto-fill, 27rem);
  justify-content: center;
  align-items: center;
  grid-gap: 5.0rem

}

.grid-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;

}

.grid-checkout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.grid-engagement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-row-gap: 7.0rem;

}

.grid-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* ------------------------ Dropdown menu ----------------------- */

.dropdown-inline {
  display: inline;
}

.dropdown-content {
  display: none;
  margin: 0;
  line-height: 3.0rem;
  position: absolute;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, .1);
  padding: .75rem;
  border-radius: .25rem;
  opacity: 0;
  background-color: white;
}

.dropdown-inline:hover .dropdown-content {
  opacity: 1;
  display: block;
}

.link {
  margin-left: 2.5rem;
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.link-margin-left-zero {
  margin-left: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.link-margin-left-zero:hover {
  color: black;
}

.link:hover {
  color: black;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 5rem;
}

/* -------------------- Start Cart Detail -------------------- */

.image-size {
  height: 20.0rem;
  width: 20.0rem;
}

.container-test {
  background-color: #fbfafa;

}

.collection-size {
  background-size: cover;
  padding-right: 0;
  padding-left: 0 ;

}

.padding-top-zero {
  padding-top: 0;
}

.story-home-page-size {
  height: 20rem;
  width: 20rem;
  background-size: cover;
}

.social-icon {
  height: 12.0rem;
  width: 12.0rem;
}

.thumb {
  width: 8rem;
  height: 8rem;

}

.thumb:hover {
    box-shadow:  0 0 0.2rem 0.1rem #121212;
}

.all-product-btn {
 width: 50rem;
}

.continue-shopping-button {
  margin-top: 0.8rem;
  color: white;
  border: 0.1rem solid #121212;
  background-color: #121212;
  display: inline-block;
  padding: 1.0rem 3.0rem 1.0rem 3.0rem;
  width: 33rem;

}

.continue-shopping-button:hover {
  transition: 75ms ease-in-out;
  box-shadow:  0 0 0 0.1rem #121212;
}

/* -------------------- Product Detail -------------------- */

.product-detail-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6rem;
}

.div-size {
  width: 50rem;
  height: 50rem;
}

.font-size-h1 {
  font-size: 4.0rem;
}

.price-font-size {
  font-size: 1.8rem;

}

.title-font-color {
  color: #121212;
}

.photo-size-product-detail{
  width: 100%;
  height: 100%;
  min-height: 62rem;
  min-width: 62rem;
  object-fit: cover;
}

.photo-size-product-detail-max {
  max-width: 50rem;
  max-height: 50rem;
}

.photo-size-homepage {
  width: 59rem;
  height: 39rem;
  object-fit: cover;

}

.photo-size-checkout {
  width: 25.4rem;
  height: 25.4rem;

}

.buy-now-button {

  color: white;
  border: 0.1rem solid #121212;
  background-color: #121212;
  display: inline-block;
  padding: 1.0rem 3.0rem 1.0rem 3.0rem;
  width: 100%;
}

.buy-now-button:hover {
  transition: 75ms ease-in-out;
  box-shadow:  0 0 0 0.1rem #121212;
}


/* -------------------- Product Card -------------------- */

.text-card {
  font-size: 1.6rem;
}

.text-card:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  }

.price-card {
  font-size: 1.6rem;
}

.margin-right-card {
  margin-right: 1.6rem;
}

.margin-left-card {
  margin-left: 1.6rem;
}


/* -------------------- Dashboard -------------------- */


.content-dashboard {
  max-width: 100.0rem;
  margin: auto;

}

.container-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.container-dashboard-edit-profile {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.container-dashboard-item:nth-child(1) {
  border-radius: 0.7rem;
  border: 0.1rem transparent;
  display: block;
  flex-basis: 30.0rem;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
  order: 0;
  margin-right: 5rem;
  color: #fbfafa;
}

.container-dashboard-item:nth-child(2) {
  border-radius: 0.7rem;
  border: 0.1rem transparent ;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 70.0rem;
  align-self: auto;
  order: 1;
}

.liste-link a {
  background: none;
  border: none;
  text-decoration: none;
  color: #3a3a3a;
  font-family: inherit;
  font-size: 2.2rem;
  cursor: pointer;
  padding: 0;
}

.liste-link:hover a {
  color: #121212;
}

/* -------------------- Form field -------------------- */

.textinput input {
  font-size: 1.5rem;
  padding: 0 1.8rem 0 1.8rem;
  height: 3.8rem;
  width: 34.5rem;
}

.error-message {
  width: 34.5rem;
}

.color-error {
  color: #be1919;
}

/* -------------------- Checkout -------------------- */

.container-checkout-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
}

.container-recap-info {
  float: right;
  max-width: 100rem;
}

.textinput-item {
  flex-grow: 1;
}

.text-product-checkout {
  font-size: 2.0rem;
  font-weight: bold;
}
/* -------------------- Payment -------------------- */

.container-payment-title {
  display: flex;
  width: 96rem;
  margin: 0 auto;
  gap: 5rem;
}

.col1 {
  width: 35rem;

}

.col2 {
  width: 35rem;

}

.font-weight-bolder {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

/* -------------------- Footer -------------------- */

.footer {
  margin-top: 20rem;
  margin-bottom: -1rem;
}

.footer-grid {
  display: grid;
  margin: 3.0rem auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 1.0rem;
}

.footer-col-list-style-none ul li {
  list-style: none;
}

.logo-footer a {
  color: black;
  font-size: 2.0rem;
  font-weight: 600;
  text-decoration: none;
}


.padding-top-footer {
  padding-top: 0.6rem;
}

.margin-top-footer {
  margin-top: 10rem;
}

.margin-left-footer-follow-us {
  margin-left: 3.6rem;
}

.line-height-title-footer {
  line-height: 6rem;

}

.social-media-icons-size-footer {
  height: 3.2rem;
  width: 3.2rem;
}

.brand-footer-font-size {
  font-size: 0.9rem;
}

.margin-left-footer-payment-icons {
  margin-left: 2.1rem;
}

.payment-icons-size-footer {
  height: 2.4rem;
  width: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.newsletter-text {
  font-size: 2.5rem;
}

footer {
  background-color: #fbfafa;
}