/* -------------------- Start Navbar -------------------- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 1.0rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

html {
  font-size: 62.5%;
  color: #121212BF;
}
body{
  margin: 0;
  font-size: 1.6rem

}

.content{
  max-width: 125.0rem;
  margin: auto;
  padding: 0 3.0rem;
}
.navbar{

  width: 100%;
  z-index: 2;
  padding: 2.5rem 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 1.0rem 0;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.1);
}

.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: black;
  font-size: 3.0rem;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list{
  display: inline-flex;
}

.menu-list li{
  list-style: none;
}

.menu-list li a{
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 2.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover{
  color: #007bff;
}

.banner{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about{
  padding: 3.0rem 0;
}

.about .title{
  font-size: 3.8rem;
  font-weight: 700;
}

.about p{
  padding-top: 2.0rem;
  text-align: justify;
}
.icon{
  color: black;
  font-size: 2.0rem;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn{
  position: absolute;
  right: 3.0rem;
  top: 2.0rem;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 6.0rem;
  }
}

@media (max-width: 1100px) {
  .content{
    padding: 0 4.0rem;
  }
}

@media (max-width: 900px) {
  .content{
    padding: 0 3.0rem;
  }
}

@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 40.0rem;
    left: -100%;
    top: 0;
    display: block;
    padding: 4.0rem 0;
    text-align: center;
    color: black;

    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0;
  }
  .navbar .menu-list li{
    margin-top: 4.5rem;
  }
  .navbar .menu-list li a{
    font-size: 2.3rem;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 2.7rem;
  }
}


/* -------------------- End Navbar -------------------- */

/* -------------------- Start Product Photos -------------------- */

.photo-size {
  width: 20.0rem;
  height: 20.0rem;
}

.photo-size-popular-product {
  width: 35.0rem;
  height: 35.0rem;
}

/* -------------------- End Product Photos -------------------- */


/* -------------------- Home page -------------------- */

.landing-page {
  object-fit: cover;
  width: 100%;
  max-height: 50.0rem;
}


.center-anything {
  display: flex;
  justify-content: center;
  align-items: center;

}

.text-align-center {
  text-align: center;
}

.place-items-center {
  place-items: center;
}

.text-container {
  border: 0.1rem solid transparent;
  line-height: 3rem;
  padding-top: 1.0rem;
  margin-right: 35%;
  margin-left: 35%;

}

.color-text-lightgray {
  color: #9a9a9a;
}

.text-line-space {
  line-height: 3.0rem;
}

.font-weight-lighter {
  font-weight: lighter;
}

.grid {
  max-width: 130.0rem;
  width: 80%;
  border: 0.1rem solid transparent;
  margin: 3.0rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40.0rem);
  justify-content: center;
  align-items: center;
  grid-gap: 1.0rem;

}

.grid-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.padding-top {
  padding-top: 3.6rem;
}

.margin-top {
  margin-top: 3.6rem;
}

.link {
  margin-left: 2.5rem;
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.link-margin-left-zero {
  margin-left: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .link-margin-left-zero,
.link-margin-left-zero:hover {
  color: black;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-1.0rem);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.buttton-dropdown {
  margin-left: .90rem;

}

/* -------------------- End Home page -------------------- */

/* -------------------- Start Cart Detail -------------------- */


.center-top-bottom {
  text-align: center;
}

.float-right {
  float: right;
}

.image-size {
  height: 20.0rem;
  width: 20.0rem;
}

.text-align-right {
  text-align: right;
}

.width-100 {
  width: 100%;
}

.text-align-left {
  text-align: left;
}

.padding-bot {
  padding-bottom: 3.6rem ;
}

.margin-top {
  margin-top: 3.6rem;
}

.container-test {
  background-color: #fbfafa;
  height: 10rem;
  width: 100%;
}

/* -------------------- Product Detail -------------------- */

.product-detail-grid-wrapper {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 1.0rem;
grid-row-gap: 1.0rem;
}

.font-size-h1 {
  font-size: 4.0rem;
}

.price-font-size {
  font-size: 1.8rem;

}

.title-font-color {
  color: #121212;
}

.photo-size-product-detail {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.add-to-cart-button {
  border: 0.1rem solid black;
  padding: 1.0rem 3.0rem 1.0rem 3.0rem;
  width: 100%;
}

.add-to-cart-button:hover {
  transition: 75ms ease-in-out;
  box-shadow:  0 0 0 0.1rem #121212;
}

.buy-now-button {
  margin-top: 0.8rem;
  color: white;
  border: 0.1rem solid #121212;
  background-color: #121212;
  display: inline-block;
  padding: 1.0rem 3.0rem 1.0rem 3.0rem;
  width: 100%;
}

.buy-now-button:hover {
  transition: 75ms ease-in-out;
  box-shadow:  0 0 0 0.1rem #121212;
}


hr {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 -1px 0 rgba(50, 50, 50, 0.2);
}

/* -------------------- Footer -------------------- */

.footer {
  background-color: #fbfafa;
}

.footer-grid {
  max-width: 130.0rem;
  width: 80%;
  border: 0.1rem solid transparent;
  margin: 3.0rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40.0rem);
  justify-content: center;
  align-items: center;
  grid-gap: 1.0rem;

}

.footer-col ul li {
  list-style: none;
}

.footer-col a {
  margin-left: 0;
  padding-left: 0;
}

.padding-top-footer {
  padding-top: 0.6rem;
}

.margin-top-footer {
  margin-top: 10rem;
}

a {
  text-decoration: none;
}
