{% extends "shop/base.html" %}
{% load static %}

{% block title %} <title>Changer de mot de passe</title> {% endblock %}


{% block content %}
<div class="content-dashboard margin-top">
    <div class="container-dashboard ">
        <div class="container-dashboard-item margin-top">
                <ul>
                    <li class="liste-link"><a href="{% url 'dashboard:dashboard' %}">Tableau de bord</a></li>
                    <li class="liste-link"><a href="{% url 'dashboard:my_orders' user_id=user.id %}">Mes commandes</a></li>
                    <li class="liste-link"><a href="{% url 'dashboard:edit_profile' %}">Editer le profile</a></li>
                    <li class="liste-link"><a href="{% url 'dashboard:change_password' %}">Changer le mot de passe</a></li>

                </ul>
        </div >
<form action="" method="POST" class=" margin-top">
    {% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% for fm in form %}
        {{ fm.label_tag }} <p class="textinput">{{ fm }}</p>{{ fm.errors|striptags }}<br> <br>
    {% endfor %}

<button type="submit" name="submit" class="buy-now-button">Envoyer</button>
</form>
</div >
</div >
{% endblock %}