{% extends "shop/base.html" %}
{% load static %}

{% block title %} <title>Tableau de bord</title> {% endblock %}

{% block content %}
    <div class="content-dashboard margin-top">
        <div class="container-dashboard">
            <div class="container-dashboard-item margin-top">

                <ul>
                    <li class="liste-link"><a href="{% url 'dashboard:dashboard' %}">Tableau de bord</a></li>
                    <li class="liste-link"><a href="{% url 'dashboard:my_orders' user_id=user.id %}">Mes commandes</a></li>
                    <li class="liste-link"><a href="{% url 'dashboard:edit_profile' %}">Editer le profile</a></li>
                    <li class="liste-link"><a href="{% url 'dashboard:change_password' %}">Changer le mot de passe</a></li>

                </ul>
            </div >

                <div class="container-dashboard-item margin-top">
                    <p>Bonjour {{ request.user.username }}</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquam assumenda, corporis culpa deleniti distinctio doloremque dolorum eos excepturi fugiat illo itaque molestias nemo perferendis saepe vitae? Animi fuga hic veritatis!</p>
                    <br>
                    <hr>
                    <br>
                    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis hic illo libero quisquam repellendus soluta tenetur vero voluptatibus.
                        A aliquid at culpa, ipsum necessitatibus nesciunt quibusdam soluta temporibus voluptatem.</p>

            </div>
    </div>
</div>


{% endblock %}