{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Espace Condorcet</title> {% endblock %}

    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <script src="https://kit.fontawesome.com/500f1a3f21.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="center-anything">
  <div class="margin-top-2-6">
        <div class="logo content text-align-center margin-bot">
        <h1><a href="{% url "shop:home_page" %}"> Atelier Couture <br> Espace Condorcet</a></h1>
      </div>

{% block navbar %}

      <div class="center-anything content">
   <div class="dropdown-inline">
      <button class="link">Boutique<i class="fa-solid fa-angle-down"></i></button>

      <div class="dropdown-content">
          <a class="link-margin-left-zero " href="{% url "shop:product_list" %}">Tous nos Produits</a>
          <br>
          {% for categorie in categories %}
          <a class="link-margin-left-zero" href="{% url "shop:product_list_by_category" categorie.slug %}">{{ categorie.name }}</a>
              <br>
          {% endfor %}
    </div>
  </div>


          <a class="link" href="#">Qui Sommes-Nous</a>

          <a class="link" href="{% url "cart:cart_detail" %}">Mon Panier({{ cart|length }})</a>
          {% if not request.user.is_authenticated %}
              <a class="link" href="{% url "user:sign_up" %}">S'incrire</a>
              <p>/</p>
              <a class="link-margin-left-zero" href="{% url "login" %}">Se connecter</a>
          {% endif %}
          {% if request.user.is_authenticated %}
              <p class="link"><a href="{% url 'dashboard:dashboard' %}">Bonjour {{ request.user.username }} </a></p>
              <a class="link" href="{% url "logout" %}">Se déconnecter</a>
          {% endif %}
</div>
  </div>
    </div>
{% endblock %}

{% block content %}  {% endblock %}


{% block footer %}
    <footer class="footer padding-top-footer text-line-space">
  	 	<div class="content footer-grid">
  	 		<div class="footer-col-list-style-none">
  	 			<h2 class="line-height-title-footer margin-left-2-5">Aide</h2>
  	 			<ul>
  	 				<li><a class="link" href="#">Guide des tailles</a></li>
  	 				<li><a class="link" href="#">Points de vente</a></li>
  	 				<li><a class="link" href="#">Livraison & retour</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col-list-style-none">
  	 			<h2 class="line-height-title-footer margin-left-2-5">Infos</h2>
  	 			<ul>
  	 				<li><a class="link" href="#">Contact</a></li>
  	 				<li><a class="link" href="#">Condition de vente</a></li>
  	 				<li><a class="link" href="#">Mentions légales</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col logo-footer text-align-center">
  	 			<a href="{% url "shop:home_page" %}">Atelier Couture <br> Espace Condorcet</a>
  	 			</div>
  	 		</div>
        <br>
        <div class="social-links ">
            <h3 class="center-anything">Suivez-nous</h3>
            <div class="center-anything padding-top padding-bot">
                <a href="#"><img class="social-media-icons-size-footer" src="https://img.icons8.com/color/48/000000/facebook-new.png"/></a>
                <a class="margin-left-footer-follow-us" href="#"><img class="social-media-icons-size-footer" src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/></a>
                <a class="margin-left-footer-follow-us" href="#"><img class="social-media-icons-size-footer" src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a>
            </div>
        </div>
        <hr>
        <br>
            <div class="center-anything padding-top padding-bot">
                <a href="#"><img class="payment-icons-size-footer" src="https://img.icons8.com/color/48/000000/visa.png"/></a>
                <a class="margin-left-footer-payment-icons" href="#"><img class="payment-icons-size-footer" src="https://img.icons8.com/color/48/000000/paypal.png"/></a>
                <a class="margin-left-footer-payment-icons" href="#"><img class="payment-icons-size-footer" src="https://img.icons8.com/color/48/000000/stripe.png"/></a>
                <a class="margin-left-footer-payment-icons" href="#"><img class="payment-icons-size-footer" src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/></a>
                <a class="margin-left-footer-payment-icons" href="#"><img class="payment-icons-size-footer" src="https://img.icons8.com/color/48/000000/amex.png"/></a>
            </div>
        <p class="center-anything brand-footer-font-size padding-bot">© 2022, <a href="{% url "shop:home_page" %}">Atelier Couture Espace Condorcet</a></p>

        </footer>


{% endblock %}

</body>
<script src="{% static "js/product_image.js" %}"></script>


</html>