{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace Condorcet</title>

    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <script src="https://kit.fontawesome.com/500f1a3f21.js" crossorigin="anonymous"></script>

</head>

<body>

{% block navbar %}

  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="{% url "shop:home_page" %}">Espace Condorcet</a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>

        </div>
  <div class="header">
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Boutique<i class="fa-solid fa-angle-down"></i></button>

      <div class="dropdown-menu information-grid">
          <a class="link buttton-dropdown" href="{% url "shop:product_list" %}">Tous nos Produits</a>
          <br>
          {% for categorie in categories %}
          <a class="link buttton-dropdown" href="{% url "shop:product_list_by_category" categorie.name %}">{{ categorie.name }}</a>
              <br>

          {% endfor %}

    </div>
  </div>
</div>
          <a class="link" href="#">Qui Sommes-Nous</a>

          {% with total_items=cart|length%}
              {% if total_items > 0 %}
                  <a class="link" href="{% url "cart:cart_detail" %}">Mon Panier({{ total_items }})</a>
                    {% else %}
                    <a class="link" href="{% url "cart:cart_detail" %}">Mon Panier({{ total_items }})</a>
                    {% endif %}
                    {% endwith %}
          {% if not request.user.is_authenticated %}
              <a class="link" href="{% url "user:sign_up" %}">S'incrire</a>
              <p>/</p>
              <a class="link-margin-left-zero" href="{% url "login" %}">Se connecter</a>
          {% endif %}
          {% if request.user.is_authenticated %}
              <p class="link">Bonjour {{ request.user.username }}</p>
              <a class="link" href="{% url "logout" %}">Se déconnecter</a>
          {% endif %}

      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>



{% endblock %}


{% block content %}  {% endblock %}


{% block footer %}
    <footer class="footer padding-top-footer">
  	 <div class="container ">
  	 	<div class="row footer-grid ">
  	 		<div class="footer-col" >
  	 			<h4 class="">Aide</h4>
  	 			<ul>
  	 				<li><a class="link " href="#">Guide des tailles</a></li>
  	 				<li><a class="link" href="#">Points de vente</a></li>
  	 				<li><a class="link" href="#">Livraison & retour</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4 class="">Infos</h4>
  	 			<ul>
  	 				<li><a class="link" href="#">Contact</a></li>
  	 				<li><a class="link" href="#">Condition de vente</a></li>
  	 				<li><a class="link" href="#">Mentions légales</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
         </div>

        </footer>


{% endblock %}

</body>
    <script src="{% static "js/test.js" %}"></script>
  <script src="{% static "js/navbar.js" %}"></script>
</html>